* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, #0f2027, #203a43, #2c5364);
    color: white;
    overflow: hidden;
}

.container {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 35px;
    background: rgba(0, 0, 0, 0.55);
    border-radius: 20px;
    max-width: 420px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 25px rgba(255, 215, 0, 0.3);
}

h1 {
    margin-bottom: 10px;
}

h2 {
    font-size: 60px;
    color: gold;
    margin-bottom: 10px;
}

#countdown {
    margin: 15px 0;
}

#countdown span {
    font-size: 20px;
    font-weight: bold;
    margin: 0 5px;
}

p {
    margin: 15px 0;
    font-size: 18px;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    background: gold;
    color: #222;
    transition: 0.3s;
}

button:hover {
    background: #ffea70;
}

canvas {
    position: fixed;
    inset: 0;
    z-index: 1;
}
